[Unit]
Description=Cloud_watch exporter Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=Simple
ExecStart=/usr/local/bin/target/cloudwatch_exporter-*-SNAPSHOT-jar-with-dependencies.jar 9106 \
    /etc/cloudwatch_exporter/cloudwatch_exporter.yml

[Install]
WantedBy=multi-user.target